<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prevented this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "Comment Content" %>
    <%= f.text_area :content, placeholder: "Write your comment here..." %>
  </div>

  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
