<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
     <% if user_signed_in? %>
      <%= button_to 'Sign_out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Change password', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Sign_in', new_user_session_path %>
      <%= link_to 'Sign_up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
